.container
  = render 'commons/tabs'
  / アンダーバーのファイル名を指定して、renderで表示
  - @articles.each do|article|
    = render 'commons/article',article: article
    / article: articleでeachの情報を部分テンプレートに渡している
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-plus
      